nav{
    height: 58px;
    background-color: #303030;
    margin: 0 0 10px 0;
    align-content: center;
}

ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #303030;
}
li a:hover{
    color: #303030 ;
    background-color: rgb(0, 238, 159);
}
.brand{
    align-items: center;
}
#logo{
    margin: .5rem;
    margin-left: 2rem;
}
.menuitems{
    display: flex;
    align-items: center;
}
.login{
    float: right;
}